body{
  margin: 0;
  padding: 0;
}

.paisaje {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  background-image: url('../assets/images/sunny-day.jpg');
  background-size: cover;
  padding: 400px 40% 0 40%;
}

.kitty {
  text-align: center;
  width: 100%;
}
